<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokefinder</title>
    <!-- IMPORT BOOTSTRAP ICONS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- IMPORT CSS -->
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h2>Pokefinder</h2>
        </div>
        <div class="search-pokemon">
          <form
            action="/findPokemon"
            method="get"
            class="search-bar"
            autocomplete="off"
          >
            <input
              type="text"
              name="pokemonName"
              id="pokemonName"
              class="input-pokemon"
              placeholder="Pesquise o pokémon..."
            />
            <button type="submit" class="search-button">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
        <% if (pokeIdFromQuery) { %>
        <a href="/" class="back-random-pokemon">
          <i class="bi bi-box-arrow-left return-icon"></i>
        </a>
        <% } %>
      </div>
    </header>
    <main>
      <article class="top-info-base">
        <section class="photo-name-pokemon">
          <h1 class="name-pokemon"><%= pokemon.name %></h1>
          <img
            src="<%= pokemon.sprites.front_default %>"
            alt="Pokemon image"
            class="img-pokemon"
          />
        </section>
        <section class="poke-character">
          <div class="character-box">
            <p>
              <span class="character-name">Nº Pokédex:</span> <%= pokemon.order %>
            </p>
          </div>
          <div class="character-box">
            <p>
              <span class="character-name"><%= typeLabel %>:</span> <%= type %>
            </p>
          </div>
          <div class="character-box">
            <p>
              <span class="character-name">Weight:</span> <%= pokemon.weight %> hg
            </p>
          </div>
          <div class="character-box">
            <p>
              <span class="character-name">Height:</span> <%= pokemon.height %> dm
            </p>
          </div>
          <div class="character-box">
            <p>
              <span class="character-name">Abilities:</span> <%= abilities %>
            </p>
          </div>
          <div class="character-box">
            <p>
              <span class="character-name">Gender:</span> <%= genderDescription %>
            </p>
          </div>
        </section>
      </article>
      <article class="middle-info-base">
        <section class="desc-pokemon">
          <h3>Description</h3>
          <p><%= description %></p>
        </section>
        <section class="local-pokemon">
          <h3>Locations</h3>
          <% if (locations && locations.length > 0) { %>
            <ul class="location-list">
              <% locations.forEach(location => { %>
                <li><%= location %></li>
              <% }); %>
            </ul>
          <% } else { %>
            <p>No information about the locations of this Pokémon.</p>
          <% } %>
        </section>
      </article>
      <article class="bottom-info-base">
        <h3>Evolutions</h3>
        <section class="evolutions-pokemon">
          <% if (Array.isArray(evolutions) && evolutions.length > 0) { %>
            <% evolutions.forEach((evolution) => { %>
              <div class="evolution-item">
                <a href="/?pokeID=<%= evolution.id %>">
                  <img
                    src="<%= evolution.sprite %>"
                    alt="<%= evolution.name %>"
                    class="evolution-sprite"
                  />
                  <p class="evolution-name"><%= evolution.name %></p>
                </a>
              </div>
            <% }) %>
          <% } else { %>
            <p>No evolutions available for this Pokémon.</p>
          <% } %>
        </section>
      </article>
    </main>
    <footer>
      <p>Developer by Marcos - 2025</p>
    </footer>
  </body>
</html>
